

.retail-businesses {
    position: relative;
    padding: 44px 0px;

}

.section-heading {
    padding: 30px 0px 25px 0px;
    font-family: 'ProDemi',sans-serif;
    font-size: 38px;
    font-weight: 100;
    font-style: normal;
    line-height: normal;
}




.card-block {
    margin-top: 20px;
}

.cards {
    padding: 35px;
    background: #F4FAFF;
    width: 350px;
    height: fit-content;
    border-radius: 14px;
    border: none;
    flex-shrink: 1;
}

.card-image {
    height: 85px;
}

.card-heading {
    margin-top: 25px;
   font-family: 'ProDemi',sans-serif;
   font-size: 18px;
   font-weight: 100;
}

.underLine {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-block;
}

.underLine::before {
    position: absolute;
    z-index: -1;
    content: '';
    background: #22e287;
    left: 0px;
    bottom: 6px;
    height: 7px;
    width:100%;
    transition: all 0.5s ease-in-out;
}

.card-icon-block {
    height: fit-content;
    width: fit-content;
    background: #fff;
    border-radius: 50px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
    text-decoration: none;
    color: #000;
}

.animation-line {
    position: relative;
   font-family: 'ProRegular',sans-serif;
   font-family: "Avenir Next LT Pro", Sans-serif;
    font-size: 15.5px;

}

.animation-line::before {
    position: absolute;
    z-index: 2;
    content: '';
    background: #333;
    left: 0px;
    bottom: 6px;
    height: 1.5px;
    width: 16px;
    transition: all 0.5s ease-in-out;
}

.animation-line:hover::before {
    width: 100%;
}

/* list-items */
.list-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0px;
}

/* list-icon */
.list-icon {
    max-height: 25px;
}

.special-btn,.special-btn2 {
    position: relative;
    font-family: 'ProRegular',sans-serif;
    font-weight: 600;
    padding: 8px 24px 8px 16px;
    border: 1px solid #002365;
    border-top-left-radius: 16px;
    background: transparent;
    color: #002365;
    font-size: 13.23px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.special-btn2::after{
    position: absolute;
    content: '❯';
    right: 12px;
    transition: all 0.5s ease-in-out;
    font-size: 12px;

}
.special-btn2:hover::after{
    right:6px;
}
.home-img {
    height: 356px;
    width: 100%;
    align-self: end;
}

.article {
    padding: 44px 0px;
}

.article{
    font-size: 11.56px;
    font-family: 'ProRegular',sans-serif;
}

.p {
    font-size: 14.56px;
    font-family: 'ProRegular',sans-serif;
    line-height: 1.5;
    font-weight: 0;
}

/* prouct section */
.product-section {
    /* padding: 44px 0px; */
    margin: 0px 140px 140px 150px;
}

.product-card {
    height: fit-content;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
}

.small-card {
    cursor: pointer;
    padding: 18px;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}

.small-card-border-2 {
    border: 2px solid #000;
}

.small-card:hover {
    border: 1px solid #000;
}

.product-card-heading {
    font-size: 16px;
    font-weight: 600;
    font-family: 'ProDemi',sans-serif;
}

.product-card-subheading {
    font-size: 15.36px;
    font-family: 'ProRegular', sans-serif;
}
.product-descp{
    font-family:'ProRegular' sans-serif; font-size: 13.32px;
}
/* layout */
.margin-145 {
    margin: 0px 145px;
}

.width-50 {
    width: 50%;
}

/* product-main-image-container */

.product-main-image {
    width: 100%;
    height: 100%;
}

/* product-image-container */
.product-image-container {
    width: 250px;
}

.product-image {
    width: 100%;
}

/* feature */
.feature-section {
    padding: 44px 0px;
}

/* feature card */
.feature-card{
    padding: 30px;
    border-radius: 14px;
    background: #F4FAFF;
}
.feature-card-rotate {
    max-height: 120px;
    max-width: 120px;
}

.feature-card-rotate-img {
    height: 100%;
    width: 100%;

}

.feature-card-rotate-img img {
    height: 100%;
    width: 100%;
}

.feature-card-img {
    height: 100px;

}

.infographic-container {
    height: 480px;
    width: 480px;
    animation: rotation 5s linear infinite;
}
.clockwise{
    animation: rotation 5s linear infinite;
}
.anticlockwise{
    animation: antirotation 5s linear infinite;
}
.small-img {
    height: 100px;
}

/* logo-infographic */
.logo-infographic {
    height: 90px;
}

.circles-small-blocks {
    height: 480px;
    min-width: 480px;
}

.img-odd-1 {
    position: relative;
    left: 0px;
}

.img-odd-2 {
    position: relative;
    left: -40px;
}

.img-odd-3 {
    position: relative;
    left: 20px;
}

.img-odd-4 {
    position: relative;
    left: 0px;
}

.img-odd-5 {
    position: relative;
    left: 40px;
}

.img-odd-6 {
    position: relative;
    left: -20px;
}

.feature-heading {
    color: #002365;
    font-size: 16px;
    font-family: 'ProDemi',sans-serif;
}
.business-card{
    margin-top:100px;
    padding: 75px 20px;
    border-radius: 15px;
    color: #fff;
    background-color: #002365;
    ;
}
.feature-description {
    font-size: 13.23px;
    font-family: 'ProRegular',sans-serif;
    color: #555;
}

.know-more {
    font-size: 13.23px;
    font-family: 'ProRegular',sans-serif;
    color: #71C6FF;
}

@keyframes antirotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.infographic {
    height: 100%;
    width: 100%;
}

/* form section */

.form-section{
    background-color: #F1F9FF;
}
.form-image{
    max-height: 500px;
    max-width: 100%;
}
.form input{
    position: relative; 
    top:7px;
    height:80%;
    color: rgb(194, 193, 193);
    outline: none;
    border: none;
    background:transparent;
}

.form option{
    outline: none;
    border: none;
    background:transparent;
}

.label{
    font-family:'ProRegular',sans-serif ;
    font-size: 12.8px;
}

@media screen and (min-width:1024px) {
    .feature-card{
        padding: 0px;
        background: transparent;
        border-radius: 14px;
    }
}

@media screen and (max-width:768px) {
    .cards {
        width: auto;
    }
    .margin-145 {
        margin: 0px 30px;
    }

    .fs-1 {
        font-size: 23px !important;
    }

    .width-50 {
        width: 100%;
    }
    .home-img {
        align-self: center;
    }
    .section-heading{
        font-size: 30px;
    }
}
@media screen and (max-width:425px){
    .section-heading{
        font-size: 23px;
    }

    .underLine::before{
        height: 5px;
    }
    .margin-145 {
        margin: 0px 18px;
    }
}


