<div class="d-block">
    <app-header></app-header>
    <!-- start retail section -->

    <section class="retail-businesses margin-145" id="Retail">
        <div>
            <h6 class="text-center  section-heading fs-1">Which Retail Businesses leverage the power of <span
                    class="underLine">RePOS</span>?</h6>
        </div>

        <div class="row justify-content-center gap-4">
            <div class="cards col-12 col-md-3">
                <div class="card-top-content">
                    <figure class="card-icon-block">
                        <img class="card-image" src="../../../assets/image/dress-svg.svg" alt="dress-svg">
                    </figure>
                    <h4 class="card-heading">Lifestyle & Fashion</h4>
                </div>

                <ul class="list-items">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/coat.svg"
                                    alt=""></span><span class="animation-line">Garments</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/footwear.svg"
                                    alt=""></span><span class="animation-line">Footwear</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/sportswear.svg"
                                    alt=""></span><span class="animation-line">Sportswear</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/Garments.svg"
                                    alt=""></span><span class="animation-line">Boutique</span></li>
                    </a>
                </ul>

            </div>
            <div class="cards col-12 col-md-3">
                <div class="card-top-content">
                    <figure class="card-icon-block">
                        <img class="card-image" src="../../../assets/image/cart-svg.svg" alt="dress-svg">
                    </figure>
                    <h4 class="card-heading">Supermarket & Groceries</h4>
                </div>

                <ul class="list-items">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/retail.svg"
                                    alt=""></span><span class="animation-line">Supermarket</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/fruit.svg"
                                    alt=""></span><span class="animation-line">Fruits & Vegetables</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon"
                                    src="../../../assets/image/Convenience-stores.svg" alt=""></span><span
                                class="animation-line">Convenience Stores</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/basket.svg"
                                    alt=""></span><span class="animation-line">Gourmet Stores</span></li>
                    </a>
                </ul>

            </div>
            <div class="cards col-12 col-md-3">
                <div class="card-top-content">
                    <figure class="card-icon-block">
                        <img class="card-image" src="../../../assets/image/bag-svg.svg" alt="dress-svg">
                    </figure>
                    <h4 class="card-heading">Niche Retail</h4>
                </div>

                <ul class="list-items">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon"
                                    src="../../../assets/image/gift-box-with-a-bow.svg" alt=""></span><span
                                class="animation-line">Gift Articles Shop</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon"
                                    src="../../../assets/image/stationery1.svg" alt=""></span><span
                                class="animation-line">Stationery Store</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/almond.svg"
                                    alt=""></span><span class="animation-line">Roastery Store</span></li>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <li class="d-flex gap-3"><span><img class="list-icon" src="../../../assets/image/beef.svg"
                                    alt=""></span><span class="animation-line">Meat Shop</span></li>
                    </a>
                </ul>

            </div>
        </div>

    </section>
    <!-- end retail section -->

    <!-- start article section -->
    <article class="article" id="Article">
        <div class="d-flex margin-145 flex-column-reverse flex-md-row gap-2">
            <div class="width-50">
                <!-- article heading -->
                <h4 class="section-heading fs-1">What is <span class="underLine">RePOS</span>?</h4>
                <!-- responsive image diplay block from 0px - 768px -->
                <figure class="width-50 d-flex d-md-none">
                    <img class="home-img"
                        src="../../../assets/image/home-img2-q8ke8akghn1b3vf737vw4tugqx1gby3zywe44b3vkg.png"
                        alt="home-img">
                </figure>
                <!-- description -->
                <div class="p">RePOS, the cutting-edge retail POS software built to take your business to new heights,
                    allows you to
                    experience retail excellence like never before. Say goodbye to manual processes and welcome improved
                    operations, efficiency, and profitability.</div>
                <div class="p mt-3">
                    With RePOS, you can easily manage your sales transactions, maintain inventory, and obtain vital
                    insights
                    into the performance of your business in real time. Our simple design and intuitive features make it
                    simple for you and your staff to execute transactions, handle petty cash, and provide excellent
                    customer
                    service.
                </div>
                <div class="p mt-3">RePOS serves businesses of various sizes and types, from small shops to large-scale
                    retail networks. Our
                    software adjusts to your individual demands, offering a seamless and customised experience whether
                    you
                    manage a clothing store, a grocery store, or a speciality boutique. So, Join the growing community
                    of
                    successful businesses who have harnessed the power of our innovative software and taken their
                    business
                    to new heights!</div>
                <!-- button -->
                <Button class="special-btn2 mt-4">Book a Demo</Button>
            </div>
            <!-- show image after 768px -->
            <figure class="width-50 d-none d-md-flex">
                <img class="home-img"
                    src="../../../assets/image/home-img2-q8ke8akghn1b3vf737vw4tugqx1gby3zywe44b3vkg.png" alt="home-img">
            </figure>
        </div>

    </article>
    <!-- end article section -->

    <!-- start feature section -->
    <section class="feature-section margin-145" id="Feature">
        <!-- heading start -->
        <h1 class="section-heading fs-1 text-center">Explore our awesome Feature <span class="underLine">Set</span></h1>
        <!-- feature main container -->
        <div class="d-flex d-md-none d-xl-flex flex-column flex-md-row position-relative mt-5 gap-4">
            <!--start left card container -->
            <div class="col-12 col-md-3 d-flex flex-column gap-4">
                <!-- card 1 -->
                <div class="text-xl-end feature-card">
                    <div class=" d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img anticlockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-75.png" alt="">
                        </div>
                        <p class="feature-heading">Retail POS Software</p>
                    </div>
                    <p class="feature-description">Introducing a combination of unparalleled characteristics for
                        managing
                        your restaurant</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
                <!-- card 2 -->
                <div class="text-xl-end feature-card me-md-5">
                    <div class="d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate  d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img clockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-76.png" alt="">
                        </div>
                        <p class="feature-heading">Integrated Accounting</p>
                    </div>
                    <p class="feature-description">Helps you efficiently manage stock, unused items, reduce wastage and
                        record new stock</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
                <!-- card 3 -->
                <div class="text-xl-end feature-card">
                    <div class="d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate  d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img anticlockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-77.png" alt="">
                        </div>
                        <p class="feature-heading">Uninterrupted Retail Billing Software</p>
                    </div>
                    <p class="feature-description">Enables you to drive result oriented sales and marketing campaigns
                        for
                        your restaurant</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
            </div>
            <!--end left card container -->
            <!-- start animation card -->
            <div class="col-6  align-items-center justify-content-center d-none d-xl-flex">
                <div class=" position-absolute d-flex align-items-center justify-content-center">
                    <figure class="infographic-container position-absolute"><img class="infographic position-relative"
                            src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC"></figure>
                    <img class=" logo-infographic position-absolute"
                        src="../../../assets/image/Re-Pos-Logo-in-Blue-With-tagline.png"
                        alt="Re-Pos-Logo-in-Blue-With-tagline">
                </div>

                <div class="d-flex justify-content-between align-items-center circles-small-blocks ">
                    <div class="d-flex flex-column gap-5 circle-small-block1">
                        <img class="small-img img-odd-1" src="../../../assets/image/Group-75.png" alt="Group-79">
                        <img class="small-img img-odd-2" src="../../../assets/image/Group-76.png" alt="">
                        <img class="small-img img-odd-3" src="../../../assets/image/Group-77.png" alt="">
                    </div>
                    <div class="d-flex flex-column gap-5 circle-small-block2">
                        <img class="small-img img-odd-4" src="../../../assets/image/Group-74-1.png" alt="">
                        <img class="small-img img-odd-5" src="../../../assets/image/Group-79.png" alt="">
                        <img class="small-img img-odd-6" src="../../../assets/image/Group-78.png" alt="">
                    </div>
                </div>
            </div>
            <!-- end animation card -->
            <!--start left card container -->
            <div class="col-12 col-md-3 d-flex flex-column gap-4">
                <!-- card 1 -->
                <div class="text-xl-start feature-card">
                    <div class="d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate  d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img clockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-74-1.png" alt="">
                        </div>
                        <p class="feature-heading">Supply Chain Management</p>
                    </div>
                    <p class="feature-description">An exclusive feature for multichain restaurants or businesses
                        operating
                        on the franchisee model</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
                <!-- card 2 -->
                <div class="text-xl-start ms-md-5 feature-card">
                    <div class="d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate  d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img anticlockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-79.png" alt="">
                        </div>
                        <p class="feature-heading">CRM and Loyalty</p>
                    </div>
                    <p class="feature-description">Central management of overall functioning of menus, recipes,
                        inventory,
                        user roles & permissions</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
                <!-- card 3 -->
                <div class="text-xl-start feature-card">
                    <div class="d-flex d-md-block align-items-center gap-4">
                        <div
                            class="position-relative feature-card-rotate  d-flex align-items-center justify-content-center d-md-none">
                            <figure
                                class="feature-card-rotate-img clockwise d-flex align-items-center justify-content-center">
                                <img src="../../../assets/image/INFOGRAPHIC.png" alt="INFOGRAPHIC">
                            </figure>
                            <img class="feature-card-img position-absolute mb-3"
                                src="../../../assets/image/Group-78.png" alt="">
                        </div>
                        <p class="feature-heading">Retail Software Utilities</p>
                    </div>
                    <p class="feature-description">Get powerful insights about your restaurant on-the-go and use it to
                        improvise your business</p>
                    <a href="#" class="know-more">know more > </a>
                </div>
            </div>
            <!--end right card container -->
        </div>
        <!-- businese card -->
        <div class="business-card d-flex flex-column justify-content-center align-items-center">
            <p class="fs-1 mb-0">Ready to revolutionize your Retail Business?</p>
            <p class="fs-1">Get started with RePOS today!</p>
            <div class="mt-4">
                <button class="special-btn2" style=" border-color:#fff; color:#fff">Speak to our Specialists</button>
            </div>

        </div>
    </section>
    <!-- end feature section -->

    <!-- start product section -->
    <section class="margin-145 product-section" id="Product">
        <h5 class="fs-1 text-center pb-4">Our <span class="underLine">Product</span></h5>
        <div class="prouct-content d-flex  w-100 gap-5 d-flex flex-column-reverse flex-md-row">
            <div class="product-card d-flex flex-column gap-2 col-12 col-md-4">

                <div class="small-card" (click)="selected(1)">
                    <span class="d-block product-card-heading">RePOS</span>
                    <span class="d-block product-card-subheading mt-1">Retail POS Solution</span>
                </div>


                <div class="small-card" (click)="selected(2)">
                    <span class="d-block product-card-heading">Android RePOS</span>
                    <span class="d-block product-card-subheading mt-1">Retail Android POS Solution</span>
                </div>


                <div class="small-card" (click)="selected(3)">
                    <span class="d-block product-card-heading mt-1">ReAnalyse</span>
                    <span class="d-block product-card-subheading">Mobile Reporting App</span>
                </div>

            </div>
            <ng-container *ngFor="let data of product" class="product-card-content d-flex col-12 col-md-8 ">
                <div *ngIf="data.id === currentId"
                    class="d-flex flex-column flex-md-row align-items-center gap-4 justify-content-center ">
                    <figure class="product-main-image-container col-12 col-md-6 ms-3">
                        <img class="product-main-image" src={{data.mainImage}} alt={{data.mainImage}}>
                    </figure>
                    <div class="col-12 col-md-6">
                        <figure class="product-image-container">
                            <img class="product-image" src={{data.image}} alt={{data.image}}>
                        </figure>
                        <p>{{data.description}}</p>
                    </div>
                </div>

            </ng-container>
        </div>

    </section>
    <!-- end product section -->

    <!-- start form section -->
    <section class="form-section" id="Form">
        <div class="d-flex flex-column justify-content-center align-items-center margin-145 pt-5 pb-4">
            <h6 class="fs-1" style="z-index: 2; position: relative;">Book a <span class="underLine">Demo</span></h6>
            <div class="d-flex flex-column flex-md-row col gap-3 ">
                <figure
                    class="d-flex d-md-none col-0 col-xl-6 d-xl-flex align-items-center justify-content-center mt-5 mb-5">
                    <img class="form-image" src="./../../../assets/image/start-demo-img.png" alt="">
                </figure>
                <div class=" col-md-12 col-xl-6 form pt-4 d-flex align-items-center justify-content-center">
                    <form [formGroup]="user" (ngSubmit)="onubmit()" class="d-flex align-items-center flex-column gap-5">
                        <div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-around">

                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="fullname">Full Name*</label>
                                    <input type="text" id="fullname" formControlName="fullname" class="mt-1 mb-3">
                                </div>

                                <div *ngIf="submitted && f['fullname'].errors" style="color:red">
                                    <span *ngIf="f['fullname'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>


                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="email">Email*</label>
                                    <input type="text" id="email" formControlName="email" class="mt-1 mb-3">
                                </div>
                                <div *ngIf="submitted && f['email'].errors" style="color:red">
                                    <span *ngIf="f['email'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="d-flex flex-column flex-md-row gap-3 w-100 align-items-center justify-content-around ">
                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <label for="role">Country*</label>
                                    <select name="" id="country" formControlName="country">
                                        <option [ngValue]="null" disabled selected>Select Country</option>
                                        <!-- <ng-container *ngFor="let data of retailOption"> -->
                                        <option *ngFor="let data of countryOption" [ngValue]="data">{{data}}</option>
    
                                    </select>
                                </div>

                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="contact">Contact No*
                                    </label>
                                    <input type="text" id="contact" class="mt-1 mb-3" formControlName="contact">
                                </div>
                                <div *ngIf="submitted && f['contact'].errors" style="color:red">
                                    <span *ngIf="f['contact'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="d-flex flex-column flex-md-row gap-3 w-100 align-items-center justify-content-around">
                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="state" class="w-50">State*
                                    </label>
                                    <input type="text" id="state" class="mt-1 mb-3" formControlName="state">
                                </div>
                                <div *ngIf="submitted && f['state'].errors" style="color:red">
state                                </div>
                            </div>

                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="city" class="w-50">City*
                                    </label>
                                    <input type="text" id="city" class="mt-1 mb-3" formControlName="city">
                                </div>
                                <div *ngIf="submitted && f['city'].errors" style="color:red">
                                    <span *ngIf="f['city'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="d-flex flex-column flex-md-row gap-3 w-100 align-items-center justify-content-around">
                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="brand">Brand Name*</label>
                                    <input type="text"id="brand" class="mt-1 mb-3" formControlName="brand">
                                </div>
                                <div *ngIf="submitted && f['brand'].errors" style="color:red">
                                    <span *ngIf="f['brand'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <label for="retail">Retail Business Format*</label>
                                <select name="mm" id="retail" formControlName="retail">
                                    <option [ngValue]="null" disabled selected>Select Retal Business Format</option>
                                    <!-- <ng-container *ngFor="let data of retailOption"> -->
                                    <option *ngFor="let data of retailOption" [ngValue]="data">{{data}}</option>

                                </select>

                            </div>
                        </div>
                        <div
                            class="d-flex flex-column flex-md-row gap-3 w-100 align-items-center justify-content-around">
                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                            <label for="role">Role*</label>
                                <select name="mm" id="role" formControlName="role">
                                    <option [ngValue]="null" disabled selected>Select Role</option>
                                    <!-- <ng-container *ngFor="let data of retailOption"> -->
                                    <option *ngFor="let data of roleOption" [ngValue]="data">{{data}}</option>

                                </select>
                            </div>

                            <div class="d-flex flex-column col-5  ps-2 pe-2 border-bottom">
                                <div>
                                    <label for="outlet">No. of Outlets</label>
                                    <input type="text" id="outlet" class="mt-1 mb-3" formControlName="outlet">
                                </div>
                                <div *ngIf="submitted && f['outlet'].errors" style="color:red">
                                    <span *ngIf="f['outlet'].errors['required']">Please Fill Out this Feild</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="special-btn2" type="submit">Submit Inquiry</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- end form section -->
    <div class="d-flex flex-column position-relative">

        <app-footer>
        </app-footer>
        <div class="p-2 d-flex float-end w-100 justify-content-end mt-1 me-5 position-absolute">
            <a href="#" class="p-2 bg-light rounded"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </div>


</div>