<footer class="footer">
    <div class="main-footer-content margin-145 ">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div>
                <span class="style footer-list-heading">Lifestyle & Fashion</span>
                <ul class="ps-0 mt-3 footer-top-list">
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Garments</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Footwear</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Sportswear</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Boutique</span></li>
                </ul>
            </div>
            <div>
                <span class="style footer-list-heading">Supermarket & Groceries</span>
                <ul class="ps-0 mt-3 footer-top-list ">
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Supermarket</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Fruits & Vegetables</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Convenience Stores</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Gourmet Stores</span></li>
                </ul>
            </div>
            <div>
                <span class="style footer-list-heading">Niche Retail</span>
                <ul class="ps-0 mt-3 footer-top-list">
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Gift Articles Shop</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Stationery Store</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Roastery Store</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="items ms-3">Meat Shop</span></li>
                </ul>
            </div>
            <div>
                <span class="style footer-list-heading">Get In Touch</span>
                <ul class="ps-0 mt-3 footer-top-list ">
                    <li><i class="fa-solid fa-location-dot"></i><span class="items ms-3">Visit Us</span></li>
                    <li><i class="fa-solid fa-phone"></i><span class="items ms-3">+91 7600 60 30 11</span></li>
                    <li><i class="fa-solid fa-envelope"></i><span class="items ms-3">infore-pos.in</span></li>
                    <li><i class="fa-solid fa-star"></i><span class="items ms-3">Google Review</span></li>
                    <li class="d-flex gap-2 pt-2">
                        <div class="circle-icon"><i class="fa-brands fa-facebook"></i></div>
                        <div class="circle-icon"><i class="fa-brands fa-linkedin-in"></i></div>
                        <div class="circle-icon"><i class="fa-brands fa-instagram"></i></div>
                        <div class="circle-icon"><i class="fa-brands fa-whatsapp"></i></div>

                    </li>
                </ul>
            </div>

        </div>

    </div>


    <div class="city-country-container w-100">
        <div class="center-style-list d-flex align-items-center">
            <ul class="d-flex list-style-none justify-content-center flex-wrap india-country ps-0 mb-0">
                <a href="#">
                    <li class="middle">India</li>
                </a>
                <a href="#">
                    <li class="middle">Ahmedabad</li>
                </a>
                <a href="#">
                    <li class="middle">Goa</li>
                </a>
                <a href="#">
                    <li class="middle">Hyderabad</li>
                </a>
                <a href="#">
                    <li class="middle">Mumbai</li>
                </a>
                <a href="#">
                    <li class="middle">Pune</li>
                </a>
                <a href="#">
                    <li class="middle">Surat</li>
                </a>
                <a href="#">
                    <li class="middle">Vadodara</li>
                </a>
            </ul>
        </div>
        <div class="center-style-list d-flex align-items-center">
            <ul class="d-flex list-style-none justify-content-center outside-country flex-wrap ps-0 mb-0">
                <a href="#" class="d-block">
                    <li class="middle">Saudi Arabia</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Jeddah</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Mauritius</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Kenya</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Nairobi</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Ghana</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Accra</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Tanzania</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Uganda</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Mauritius</li>
                </a>
                <a href="#" class="d-block">
                    <li class="middle">Rwanda</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="text-center py-4">
        <span class="style copyright">© 2023 All Rights Reserved by <a href="#" class="copyright-link">Resolute Solutions.</a></span>
    </div>
</footer>