<footer class="footer">
    <div class="main-footer-content">
        <div class="d-flex margin-145 justify-content-between flex-wrap">
            <div>
                <span>Lifestyle & Fashion</span>
                <ul class="ps-0 mt-3 footer-top-list">
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Garments</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Footwear</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Sportswear</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Boutique</span></li>
                </ul>
            </div>
            <div>
                <span>Supermarket & Groceries</span>
                <ul class="ps-0 mt-3 footer-top-list ">
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Supermarket</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Fruits & Vegetables</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Convenience Stores</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Gourmet Stores</span></li>
                </ul>
            </div>
            <div>
                <span>Niche Retail</span>
                <ul class="ps-0 mt-3 footer-top-list">
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Gift Articles Shop</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Stationery Store</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Roastery Store</span></li>
                    <li><i class="fa-solid fa-angle-right"></i><span class="ms-3">Meat Shop</span></li>
                </ul>
            </div>
            <div>
                <span>Get In Touch</span>
                <ul class="ps-0 mt-3 footer-top-list ">
                    <li><i class="fa-solid fa-location-dot"></i><span class="ms-3">Visit Us</span></li>
                    <li><i class="fa-solid fa-phone"></i><span class="ms-3">+91 7600 60 30 11</span></li>
                    <li><i class="fa-solid fa-envelope"></i><span class="ms-3">info@re-pos.in</span></li>
                    <li><i class="fa-solid fa-star"></i><span class="ms-3">Google Review</span></li>
                </ul>
            </div>

        </div>
        <div class="d-flex justify-content-center justify-content-md-end margin-145">
            <ul class="d-flex list-style-none ps-0">
                <li class="circle-icon ms-2"><i class="fa-brands fa-linkedin"></i></li>
                <li class="circle-icon ms-2"><i class="fa-brands fa-instagram"></i></li>
                <li class="circle-icon ms-2"><i class="fa-brands fa-facebook"></i></li>
                <li class="circle-icon ms-2"><i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </div>
    </div>


    <div class="city-country-container">
        <div class="center-style-list">
            <ul class="d-flex list-style-none gap-2 justify-content-center gap-md-5 flex-wrap ps-0">
                <a href="#">
                    <li>India</li>
                </a>
                <a href="#">
                    <li>Ahmedabad</li>
                </a>
                <a href="#">
                    <li>Goa</li>
                </a>
                <a href="#">
                    <li>Hyderabad</li>
                </a>
                <a href="#">
                    <li>Mumbai</li>
                </a>
                <a href="#">
                    <li>Pune</li>
                </a>
                <a href="#">
                    <li>Surat</li>
                </a>
                <a href="#">
                    <li>Vadodara</li>
                </a>
            </ul>
        </div>
        <div class="center-style-list">

            <ul class="d-flex list-style-none justify-content-center gap-2 gap-md-5 flex-wrap ps-0">
                <a href="#" class="d-block">
                    <li>Saudi Arabia</li>
                </a>
                <a href="#" class="d-block">
                    <li>Jeddah</li>
                </a>
                <a href="#" class="d-block">
                    <li>Mauritius</li>
                </a>
                <a href="#" class="d-block">
                    <li>Kenya</li>
                </a>
                <a href="#" class="d-block">
                    <li>Nairobi</li>
                </a>
                <a href="#" class="d-block">
                    <li>Ghana</li>
                </a>
                <a href="#" class="d-block">
                    <li>Accra</li>
                </a>
                <a href="#" class="d-block">
                    <li>Tanzania</li>
                </a>
                <a href="#" class="d-block">
                    <li>Uganda</li>
                </a>
                <a href="#" class="d-block">
                    <li>Mauritius</li>
                </a>
                <a href="#" class="d-block">
                    <li>Rwanda</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="text-center py-4">
        <span>© 2023 All Rights Reserved by Resolute Solutions.</span>
    </div>
</footer>