.hero-section {
    position: relative;
    padding-bottom: 40px;
    height: 632px;

}

.hero-content-container {
    width: 78.07vw;
}

/* hero-nav */
.hero-nav {
    position: relative;
    z-index: 2;
    padding: 28px 0px;
    align-self: center;

}

.hero-bg-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.hero-bg-container .hero-bg,
.hero-bg-container .hero-bg2 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.hambar {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

/* repos-logo */
.repos-logo {
    width: 8.65vw;
}

/* hero-action-btns  */
.hero-action-btns {
    margin-top: 5px;
    font-family: 'ProRegular';
    gap: 21px;
    list-style-type: none;
}

.normal-btn {
    font-family: 'ProRegular', sans-serif;
    font-weight: 600;
    padding: 8px 12px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    border: none;

}

.special-btn,
.special-btn2 {
    position: relative;
    font-family: 'ProRegular', sans-serif;
    font-weight: 600;
    padding: 8px 24px 8px 16px;
    border: 1.5px solid #fff;
    border-top-left-radius: 16px;
    background: transparent;
    color: #fff;
    font-size: 1.04vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.special-btn2::after {
    position: absolute;
    content: '❯';
    right: 12px;
    transition: all 0.5s ease-in-out;
    font-size: 1.04vw;

}

.special-btn2:hover::after {
    right: 6px;
}

/* hero-section-content */
.hero-section-content {
align-self: start;
    margin-top: 20px;
    z-index: 2;

}

.hero-heading {
    max-width: 550px;
    font-weight: 700;
    color: #fff;
    font-family: 'ProBlold';
    font-size: 43px;
    letter-spacing: 1px;
}

.hero-para {
    font-family: 'ProRegular', sans-serif;
    max-width: 460px;
    color: #fff;
    letter-spacing: 0px;
    font-size: 15px;
    margin-top: 10px;
}

.underLine {
    position: relative;
    display: inline-block;
}

.underLine::before {
    position: absolute;
    z-index: -1;
    content: '';
    background: #22e287;
    left: 0px;
    bottom: 6px;
    height: 7px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

a {
    color: #333;
    text-decoration: none;
}

.margin-145 {
    width: 78.07vw;
}

@media screen and (max-width:768px) {
    .margin-145{
        width: 82vw;
    }
    .hero-heading {
        font-size: 30px;
    }


    .underLine::before {
        height: 5px;
    }
    .special-btn,
    .special-btn2 {
        font-size: 2.04vw;
    }

}

@media screen and (max-width:576px) {
    .hero-heading {
        font-size: 23px;
    }

    .underLine::before {
        height: 5px;
    }
}

@media screen and (min-width:480px) {
    .hero-bg {
        display: block;
    }

    .hero-bg2 {
        display: none;
    }

    .hero-heading2 {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .margin-145{
        width: 100%;
    }
    .hero-section{
        max-height: 723px;
    }
    .repos-logo{
        width: 30vw;
        max-width: 30vw;
    }
    .hero-nav{
        padding: 16px 5vw;
    }
    .hero-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero-content-container {
        width: 100%;
        height: 83%;
        justify-content: end!important;
    }

    .hero-bg {
        display: none;
    }

    .hero-bg2 {
        display: block;
    }

    .hero-heading {
        display: none;
    }

    .hero-para {
        text-align: center;
        font-size: 4.2vw;
        line-height: 4.2vw;

    }

    .hero-heading2 {
        color: #fff;
        font-family: 'ProBlack';
        text-align: center;
        font-size: 6.26vw;
        line-height: 6.26vw;
        display: block;
    }

    .special-btn,
    .special-btn2 {
        font-size: 2.93vw;
    }

    .special-btn2::after {
        font-size: 2.93vw;
    }
}
@media screen and (max-width:425px)and (max-width:480px){
    .hero-section{

        height: 642px;
    }
}
@media screen and (min-width:375px) and (max-width:425px){
    .hero-section{

        height: 566px;
    }
}
@media screen and (min-width:0px) and (max-width:325px){
    .hero-section{

        height: 505px;
    }
}