.hero-section {
    position: relative;
    padding-bottom: 40px;
    height: 632px;
}

/* hero-nav */
.hero-nav {
    position: relative;
    z-index: 2;
    padding: 28px 0px;
}

.hero-bg-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.hero-bg-container .hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.hambar {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

/* repos-logo */
.repos-logo {
    height: 48px;
}

/* hero-action-btns  */
.hero-action-btns {
    margin-top: 5px;
    font-family: 'ProRegular';
    gap: 21px;
    list-style-type: none;
}

.normal-btn {
    font-family: 'ProIt', sans-serif;
    font-weight: 600;
    padding: 8px 12px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    border: none;

}

.special-btn,
.special-btn2 {
    position: relative;
    font-family: 'ProIt', sans-serif;
    font-weight: 600;
    padding: 8px 24px 8px 16px;
    border: 1px solid #fff;
    border-top-left-radius: 16px;
    background: transparent;
    color: #fff;
    font-size: 13.23px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.special-btn2::after {
    position: absolute;
    content: '❯';
    right: 12px;
    transition: all 0.5s ease-in-out;
    font-size: 12px;

}

.special-btn2:hover::after {
    right: 6px;
}

/* hero-section-content */
.hero-section-content {
    margin-top: 20px;
    z-index: 2;
}

.hero-heading {
    max-width: 550px;
    font-weight: 700;
    color: #fff;
    font-family: 'ProBlold';
    font-size: 43px;
    letter-spacing: 1px;
}

.hero-para {
    font-family: 'ProIt', sans-serif;
    max-width: 460px;
    color: #fff;
    letter-spacing: 0px;
    font-size: 16px;
    margin-top: 10px;
}

.underLine {
    position: relative;
    display: inline-block;
}

.underLine::before {
    position: absolute;
    z-index: -1;
    content: '';
    background: #22e287;
    left: 0px;
    bottom: 6px;
    height: 7px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

a {
    color: #333;
    text-decoration: none;
}

.margin-145 {
    margin: 0px 145px;
}

@media screen and (max-width:768px) {
    .hero-heading {
        font-size: 30px;
    }

    .margin-145 {
        margin:0px  30px;
    }

    .underLine::before {
        height: 5px;
    }
}

@media screen and (max-width:576px) {
    .hero-heading {
        font-size: 23px;
    }
    .margin-145 {
        margin:0px 18px;
    }

    .underLine::before {
        height: 5px;
    }
}