<!-- starting hero section -->
<section class="hero-section" >
<div class="margin-145">
    <!-- start nav -->
    <nav class=" hero-nav d-flex justify-content-between">
        <figure class="logo-container">
            <img class="repos-logo" src="../../../assets/image/Logo-326x121-1-e1700720139609.png" alt="reos logo">
        </figure>
        <!--start action button block -->

        <ul class="hero-action-btns d-flex align-items-center">
            <li class="d-none d-xl-block"><a  href='#'class="normal-btn">About</a></li>
            <li class="d-none d-xl-block"><a href='#' class="normal-btn">Contact</a></li>
            <li class="d-block d-xl-none"><i data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" class="fa-solid fa-bars hambar"></i></li>
            <li class="d-none d-sm-block"><a href='#' class="special-btn ms-2">Book a Demo</a></li>
        </ul>
        <!--end action button block -->


    </nav>
    <!-- end nav -->
    <!-- start hero section introduction block -->
    <div class="hero-section-content position-relative">
        <h1 class="hero-heading">Transform your Retail Business with our advanced POS <span
                class="underLine">Software</span></h1>
        <p class="hero-para pt-2">Unlock the potential of seamless transctions, effortless petty cash management,
            optimized invertory control and elevated customer experiences with our empowering retail POS software.
        </p>
        <button class="special-btn2 mt-4">Book a Demo</button>
    </div>
    <!-- end hero section introduction block -->
    <figure class="hero-bg-container">
        <img class="hero-bg" src="../../../assets/image/bg-hero-main-scaled.jpg" alt="bg-hero-main-scaled">
    </figure>
        <!-- ovcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class=" canvasOption d-flex flex-column gap-4">
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end hero section -->